@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Inter:wght@200;300;400;500&display=swap');
:root {
    --font-family: 'Inter', sans-serif;
    --body-background-mode: #1E1E1E;
    --background-color: #2e2e30;
    --background-color-secondary: #424244;
    --background-color-ligth: #ffffff;
    --text-color-primary: #CCCCCC;
    --color: #b4b4bd;
    --html-blue: #5BAAE2;
    --html-red: #E67786;
    --html-lightblue: #BFFADD;
    --html-green: #756F3D;
    --html-white: #FFFFFF;
}

body {
    font-family: var(--font-family);
    font-weight: 300;
}


/* LAYOUT */

.layout {
    width: 100%;
    display: grid;
    grid: "layout__header layout__header layout__header" 1fr "layout__slide layout__slide layout__slide" 2fr "layout__left layout__center layout__right" 3fr / 1fr 1fr 1fr;
    gap: 8px;
}


/* FIN LAYOUT */


/* HEADER */

.layout__header {
    grid-area: layout__header;
    background-color: #5BAAE2;
}


/* FIN HEADER */


/* SLIDE */

.layout__slide {
    grid-area: layout__slide;
    background-color: #b4b4bd;
}


/* FIN SLIDE */


/* LEFT */

.layout__left {
    grid-area: layout__left;
    background-color: #1E1E1E;
}


/* FIN LEFT */


/* CENTER */

.layout__center {
    grid-area: layout__center;
    background-color: #756F3D;
}


/* FIN CENTER */


/* RIGHT */

.layout__right {
    grid-area: layout__right;
    background-color: #BFFADD;
}


/* FIN RIGHT */